<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>
		body {
			background-color: aqua;
		}
		#parent-box{
			
		}
		#box{
			margin-left: 25%;
		}
	</style>
</head>

<body>
	<div id="parent-box">
		<div id="box">
			<style>
				div.form-control label {
					/*
				border: 1px solid rgb(10, 10, 10);
				*/
				}
			</style>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="mydiv">
						<label class="mylabel">{{ field.label }}</label>
						{{ field }}
					</div>
				{% endfor %}
					<button type="submit">Submit</button>
			</form>
		</div>
	</div>
	{{ form.media }}
</body>

</html>