<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>
		body {
			background-color: aqua;
		}
		#parent-box{
			
		}
		#box{
			margin-left: 25%;
		}
	</style>
</head>

<body>
	<div id="parent-box">
		<div id="box">
			{% for message in messages %}
			<h1>{{message}}</h1>
			{% endfor %}
			<style>
				div.form-control label {
					/*
				border: 1px solid rgb(10, 10, 10);
				*/
				}
			</style>
			<form action="" method="POST">
				{% csrf_token %}

				{{form.media}}

				<div class="form-control">{{ form.as_p }}</div>
				<button>Submit</button>
			</form>
		</div>
	</div>
</body>

</html>